{% extends "app/base_site.html" %}

{% block title %} 算法管理 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
<link rel="stylesheet" href="/static/lib/jquery/confirm/jquery-confirm.css" />
    <style>
    /*导入弹窗*/
    input[type="file"]{
      color: #8d2f2f;
      font-size: 12px;
    }
    ::file-selector-button{
      font-size: 12px;
      color: #fff;
      border-radius: 4px;
      border: 1px solid #091f35;
      padding: 2px 4px;
      background-color: #091f35;
      cursor: pointer;
    }

</style>

{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
               <h2>算法管理
                    <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
                    <span id="top_msg">{{top_msg}}</span>
               </h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="headings">
                            <th class="column-title">ID</th>
                            <th class="column-title">编号</th>
                            <th class="column-title">名称</th>
                            <th class="column-title">API接口</th>
                            <th class="column-title">目标数量</th>
                            <th class="column-title last">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                    {%  for d  in data %}
                      <tr class="even pointer">
                              <!--<td style="width: 50px;">{{ forloop.counter }}</td>-->
                                            <td >{{ d.id }}</td>
                                            <td >{{ d.code }}</td>
                                            <td>{{ d.name }}</td>
                                            <td style="width: 20px;">{{ d.api_url }}</td>
                                            <td>{{ d.object_count }}</td>
                                            <td>
                          <div class="btn-group">
                              <button onclick="f_edit('{{ d.code }}')" class="btn btn-sm btn-default" type="button"><i class="fa fa-edit"></i> 编辑</button>
                              <button onclick="f_del('{{ d.code }}')" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="删除"><i class="fa fa-remove"></i></button>
                            </div>
                                            </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>


              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <ul class="pagination">
                <li>
                    <span style="margin-right:10px;color:#000;">共<span>{{ pageData.page_num}}</span>页 / <span>{{pageData.count}}</span >条</span>
                </li>

                {%  for d  in pageData.pageLabels%}
                  {% if d.cur == 1 %}
                    <li class="paginate_button active"><a href="#"  >{{ d.name }}</a></li>
                  {% else %}
                    <li class="paginate_button "><a href="/algorithm/index?p={{d.page}}&ps={{pageData.page_size}}" >{{ d.name }}</a></li>
                  {% endif %}
                {% endfor %}

              <!--
              <li class="paginate_button previous" ><a href="#" data-dt-idx="0" >上一页</a></li>
              <li class="paginate_button active"><a href="#" data-dt-idx="1" >1</a></li>

              <li class="paginate_button "><a href="#" data-dt-idx="2">2</a></li>
              <li class="paginate_button "><a href="#" data-dt-idx="3">3</a></li>
              <li class="paginate_button "><a href="#" data-dt-idx="4">4</a></li>
              <li class="paginate_button "><a href="#" data-dt-idx="5" >5</a></li>
              <li class="paginate_button "><a href="#" data-dt-idx="6" >6</a></li>
              <li class="paginate_button next"><a href="#" data-dt-idx="7" >下一页</a></li>
              -->
            </ul>

          </div>
       </div>


    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script src="/static/lib/jquery/confirm/jquery-confirm.js"></script>
<script>
    let ele_top_loading = $("#top_loading");
    let ele_top_msg= $("#top_msg");
    let eleImportVersionDialogNodeCode = $("#import_version_dialog_node_code");
    let eleXcUpdateFile = $("input[name='xcupdate_file']");

    function f_edit(code) {
        let url = "/algorithm/edit?code="+code;
        window.location.href = url;
    }
    function f_del(code){
        ele_top_loading.show();
        $.ajax({
               url: '/algorithm/openDel',
               type: "post",
               async: true,
               data: {"code":code},
               dataType: "json",
               timeout: 0,
               error: function () {
                   ele_top_loading.hide();
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                      ele_top_loading.hide();
                   if(1000 === res.code){
                        window.location.reload();
                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });

    }



</script>

{% endblock javascripts %}

